NDPTassignment2/NDPTassign2Client/Service References/worldScramblerServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/NDPTassignment2" />
  <xs:element name="getScrambledWord">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getScrambledWordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NDPTassignment2" minOccurs="0" name="getScrambledWordResult" nillable="true" type="q1:Word" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="guessWord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guessedWord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unscrambledWord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="guessWordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guessWordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>